// top navbar
header.topnavbar-wrapper(ng-include="'views/partials/top-navbar.html'")
//-ng-include(src="'views/partials/sidebar.html'")
.content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")
// Page footer
footer(ng-include="'views/partials/footer.html'")